<?php
!defined('IN_APP') && exit('ILLEGAL EXECUTION');
/**
 * @author  ryan <cumt.xiaochi@gmail.com>
 */
$bigCategories = $GLOBALS['bigCategories'];
?>
<h2>分类管理</h2>
  <h3>大类</h3>
  <div class="tabbable">
    <ul class="nav nav-tabs">
      <?php foreach ($bigCategories as $id => $name): ?>
        <li><a href="#tab<?= $id ?>"><?= $name ?></a></li>
      <?php endforeach ?>
    </ul>
    <div class="tab-content">
      <?php foreach ($associateCategories as $id => $categories): ?>
        <div class="tab-pane" id="big-cate-<?= $id ?>">
          <ul>
            <?php foreach ($categories as $id => $name): ?>
              <li><a href="#"><?= $name ?></a></li>
            <?php endforeach ?>
          </ul>
        </div>
      <?php endforeach ?>
    </div>
  </div>
    <a class="btn" href="#">添加大类</a>
  </div>
  <div class="span4">
    <h3>一般分类</h3>
    <ul class="nav nav-tabs nav-stacked">
    </ul>
  </div>
  <div class="span4">
    <h3>小类</h3>
  </div>
</div>
