<?php
!defined('IN_APP') && exit('ILLEGAL EXECUTION');
/**
 * @author  ryan <cumt.xiaochi@gmail.com>
 */
if (!isset($fieldName))
    $fieldName = 'type';
$cur_value = i($GLOBALS[$fieldName]);
if (!isset($default_value))
    $default_value = '';
if (!isset($data)) {
    $data = $GLOBALS[$fieldName . 's'];
}
?>
<select name="<?= $fieldName ?>" class="<?= i($class) ?>">
    <?php if (!isset($no_default) || !$no_default): ?>
        <option value="<?= $default_value ?>" <?= $cur_value == 'all' ? 'selected' : '' ?> >全部</option>
    <?php endif ?>
    <?php foreach ($data as $key => $value): ?>
        <option value="<?= $key ?>" <?= $cur_value == $key ? 'selected' : '' ?> ><?= $value ?></option>
    <?php endforeach ?>
</select>
